html, body {
  height: 100%;
  background-color: #0f1416;
  display: flex;
  justify-content: center;
}

#full-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: #0f1416;
  color: #bdc6ce;
  padding: 20px;
  width: 1250px;
}


/* --- profile --- */

#profile {
  padding-right: 30px;
  width: 450px;
}

#profile-image-div {
  display: flex;
  justify-content: center;
}

#profile-image {
  width: 300px;
  margin-bottom: 10px;
}

#profile-name {
  color: #bec6cd;
  margin-bottom: 0px;
}

#gitHub-username {
  color: #767e87;
}

#bio {
  font-size: 18px;
}

#profile-button-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.profile-button {
  padding: 5px 20px 5px 20px;
  background-color: #262e2e;
  color: #aab2ba;
  text-justify: center;
  border-radius: 8px;
  border: none;
}

#profile-followers-div {
  display: flex;
  gap: 8px;
  font-size: 16px;
}

#profile-followers-div p {
  display: block;
  color: #767e87;
}

#profile-info-div, #profile-highlight-div {
  border-bottom: 1px solid #767e87;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 16px;
}

#profile-info-div p, #profile-highlight-div p {
  margin: 5px;
}


/* --- main page --- */

#main-page-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


/* --- right side --- */

#right-side-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: #08080d;
  color: #bdc6ce;
  height: 50px;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #767e87;
}

#navbar a {
  color: #767e87;
  text-decoration: none;
  text-align: center;
  width: 150px;
}

.active {
  padding-top: 11px;
  padding-bottom: 9px;
  border-bottom: 1px solid orange;
  box-sizing: content-box;
  font-weight: 500;
}

#pinned-repositories-div {
  min-height: 500px;
}

#pin-a-repository-div {
  width: 100%;
}

#pin-a-repository-header {
  width: 100%;
}

#pin-a-repository-p {
  font-size: 16px;
}

#projects-div {
  height: 500px;
}

#projects-div {
  width: 100%;
}

#projects-header {
  width: 100%;
}

#projects-p {
  font-size: 16px;
}

/* --- footer --- */

footer {
  display: flex;
  justify-content: space-evenly;
}
 



/* ------ repositories.html ------ */

#repositories-div, #pinned-repositories-div {
  min-height: 500px;
  margin-bottom: 20px;
}

#repositories, #pinned-repositories {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  gap: 10px;
  justify-content: space-between;
}

#projects {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  gap: 10px;
  justify-content: space-between;
}

.card {
  width: 430px;
}

.dom-card {
  background-color: #0f1416;
  color: #bdc6ce;
  border: 1px solid #767e87;
  width: 430px;
}

.dom-card-title a {
  text-decoration: none;
  font-size: 18px;
}

.dom-card-text {
  font-size: 16px;
}

#create-a-repository-div {
  width: 100%;
}


/* packages.html */

#pinned-packages-div {
  height: 500px;
}

#pin-a-package-div {
  width: 100%;
}

#pin-a-package-header {
  width: 100%;
}

#pin-a-package-p {
  font-size: 16px;
}

#packages {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  gap: 10px;
  justify-content: space-between;
}